.pic-container {
    float: left;
    width: fit-content;

    img {
        max-width: 15vw;
    }
}

.about-description {
    display: flex;
    margin: auto;
    padding: 0 20px 0 20px;
    font-weight: 600;
}

dl dt {
    color: #fff;
}


.uk-card-header {
    background-color: rgb(58, 58, 58);
}

.uk-card-title {
    color: #fff;
    font-weight: 600;
}