.pic-container {
    float: left;
    width: fit-content;

    img {
        max-width: 15vw;
    }
}

.info-icon {
    color: hsl(200, 87%, 94%) !important;
}

dl dt {
    color: #fff;
}

.uk-heading-small  {
    color: hsl(200, 87%, 94%) !important;
    font-weight: 800;
    font-family: 'Oxanium';
    text-transform: uppercase;
    letter-spacing: 3pt;

    &::before {
        border-color: hsl(199, 92%, 74%);
    }   
}
.uk-card-title {
    color: hsl(200, 87%, 94%) !important;
    font-weight: 600;
    font-family: 'Oxanium';
    text-transform: uppercase;
    letter-spacing: 2pt;
    font-size: 14pt;
}

.uk-card {
    border: 1px solid hsl(199, 92%, 74%);
    box-shadow: 0 0 17px -10px hsl(199, 92%, 74%),
        inset 0 0 17px -10px hsl(199, 92%, 74%);
    font-family: 'Oxanium';
    text-transform: uppercase;
    font-size: 10pt;
    letter-spacing: 1pt;

    .uk-card-header {
        border-bottom: 1px solid hsl(199, 92%, 74%);
        box-shadow: 0 7px 17px -10px hsl(199, 92%, 74%),
            inset 0 -3px 17px -10px hsl(199, 92%, 74%);
        background-color: hsla(199, 92%, 74%, 0.2);
    }
}

.uk-first-column:not(.uk-width-auto) {
    border-right: 1px solid hsl(199, 92%, 74%);
    box-shadow: 0px 0 1px 1px #80d3fa;
}

.uk-card-media-left {
    border-right: 20px solid hsl(199, 92%, 74%);
    box-shadow: 1px 0 1px -1px #80d3fa;
}

.uk-card-media-right {
    border-right: 1px solid hsl(199, 92%, 74%);
    box-shadow: -2px 0 17px -10px #80d3fa;
}

.uk-label {
    background-color: transparent !important;
    border: 1px solid hsl(199, 92%, 74%);
    color: hsl(199, 92%, 74%) !important;
    border-radius: 0 !important;
    box-shadow: 0 0 17px -10px hsl(199, 92%, 74%),
    inset 0 0 10px -10px hsl(199, 92%, 74%);
}

.tools {
    font-family: 'Oxanium' !important;
    padding-top: 2px;
    transform: translateY(-2px);
}

.profile-image {
    background-color: hsla(199, 92%, 74%, 0.404);
    background-blend-mode: multiply;
    background-image: url(/assets/IMG-20130714-00292.jpg);
    background-position: center;
    background-size: cover;
    min-height: 400px;
}