<div class="principal-container uk-width-1-1 uk-position-absolute uk-position-small">
    <div class="uk-margin-auto uk-width-3-4@l uk-width-5-6@s uk-margin">
        <h1 class="uk-heading-small uk-heading-bullet">About</h1>
        <div class="uk-margin-auto uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                <div class="profile-image" style="pointer-events: none;" alt="" uk-cover></div>
                <canvas style="pointer-events: none;" width="600" height="400"></canvas>
            </div>
            <div>
                <div class="uk-card-header uk-card-secondary">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <span class="uk-light info-icon" uk-icon="icon: info; ratio: 2"></span>
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title">About Me</h3>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body uk-card-secondary">
                    <p>
                        My name is Edwin Martínez, I'm a software engineer with experience in full-stack development. 
                        Provide clean, efficient and robust software is my first priority. 
                        As a software engineer, I enjoy to experiment with technologies that let me 
                        develop my skills for any kind of purpose.
                    </p>
                    <div style="font-size: 24pt; text-align: center;" class="uk-margin-auto">👋</div>
                </div>
            </div>
        </div>
        <div class="uk-margin-auto uk-card uk-card-secondary uk-margin">
            <div class="uk-card-body">
                <h3 class="uk-card-title">Work Experience</h3>
                <div>
                    <dl class="uk-description-list uk-description-list-divider">
                        <dt>Software Developer <span class="uk-label uk-margin-left tools">~2 years</span></dt>
                        <dd class="uk-padding uk-padding-remove-vertical">
                            <ul class="uk-list uk-list-divider uk-margin-top">
                                <li>
                                    Developed web pages consisting of dashboards, forms and relevant information
                                    using technologies like HTML, CSS, JavaScript, jQuery and Oracle APEX platform.
                                </li>
                                <li>
                                    Wrote PL/SQL subroutines in Oracle Database and Oracle APEX platform.
                                </li>
                                <li>
                                    Used different APIs, libraries and plugins to provide a better user experience.
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>