.tools {
    font-family: 'Fira Code';

    span {
        text-transform: none !important;
        // color: hsl(199, 92%, 74%);

        color: black;
    }
}

.ligthbox-button {
    color: hsl(200, 87%, 94%) !important;
    transition: 250ms all;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.uk-card-title {
    color: hsl(200, 87%, 94%) !important;
    font-weight: 600;
}

.background-card-cover {
    filter: brightness(70%);
    transition: 300ms all;
    cursor: pointer;
    position: relative;
    height: auto !important;
    width: 250% !important;
    top: 0%;
    left: -35%;

    &.no-left {
        width: 100% !important;
        left: 0% !important;
    }

    &:hover {
        filter: brightness(100%);
    }
}

.uk-label {
    margin-top: 10px;
    background-color: hsla(194, 13%, 52%, 0.7) !important;
    border-radius: 0 !important;
}

.uk-heading-small  {
    color: hsl(200, 87%, 94%) !important;
    font-weight: 800;
    font-family: 'Fira Code';

    &::before {
        border-color: hsl(199, 92%, 74%);
    }   
}

.uk-card {
    border: 1px solid hsl(199, 92%, 74%);
    box-shadow: 0 0 17px -10px hsl(199, 92%, 74%),
        inset 0 0 17px -10px hsl(199, 92%, 74%);

    .uk-card-header {
        border-bottom: 1px solid hsl(199, 92%, 74%);
        box-shadow: 0 7px 17px -10px hsl(199, 92%, 74%),
            inset 0 -3px 17px -10px hsl(199, 92%, 74%);

        background-color: hsla(199, 92%, 74%, 0.2);
    }
}

.uk-first-column:not(.uk-width-auto) {
    border-right: 1px solid hsl(199, 92%, 74%);
    box-shadow: 1px 0 17px -10px #80d3fa;
}

.uk-card-media-right {
    border-right: 1px solid hsl(199, 92%, 74%);
    box-shadow: -2px 0 17px -10px #80d3fa;
}

.uk-icon-button {
    background-color: hsla(194, 13%, 52%, 0.4) !important;
    border-radius: 0 !important;
    border: 1px solid hsl(200, 87%, 84%);
    box-shadow: 0 0 17px -10px hsl(200, 87%, 84%);

    &:hover {
        border: 1px solid hsl(200, 87%, 94%);
    }
}

.uk-icon-button {
    color: hsl(200, 87%, 94%, 0.7) !important;
    
    &:hover {
        color:  hsl(200, 87%, 94%, 0.8) !important;
    }
}