<div class="principal-container">
    <div class="uk-margin-auto uk-card uk-card-default uk-width-3-4@l uk-width-5-6@s uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div uk-parallax="bgy: -200" class="uk-flex-last@s uk-card-media-right uk-cover-container uk-inline uk-light">
            <img class="background-card-cover" src="/assets/projects-screen-captures/social-web-app/logoxxx.png" alt="" uk-cover>
            <div class="uk-position-center" uk-lightbox="animation: scale">
                <a class="ligthbox-button" uk-icon="icon: album; ratio: 2;" href="/assets/projects-screen-captures/social-web-app/2020-02-24 (12).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (13).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (14).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (15).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (16).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (17).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (18).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (19).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (20).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (21).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (22).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (23).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (24).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (25).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (26).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (27).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (28).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (29).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (30).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (31).png"></a>
                <a href="/assets/projects-screen-captures/social-web-app/2020-02-24 (32).png"></a>
            </div>
            <canvas style="pointer-events: none;" width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img width="45" src="/assets/projects-screen-captures/social-web-app/social_logo.png">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title">Social Web App</h3>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <div class="uk-margin-auto uk-margin-bottom tools">
                    <span class="uk-label uk-margin-small-right">Java</span>
                    <span class="uk-label uk-margin-small-right">Spring Boot</span>
                    <span class="uk-label uk-margin-small-right">Angular</span>
                </div>
                <div>
                    <p>
                        Social network web application that covers the common concepts, like:
                    </p>
                    <ul class="uk-list uk-list-bullet">
                        <li>Add friends</li>
                        <li>Share, edit and like Posts</li>
                        <li>Real-time communication with chat, notifications and status</li>
                    </ul>
                </div>
                <div class="uk-margin-auto uk-text-center">
                    <a href="https://hidden-mesa-26588.herokuapp.com/" target="blank" class="uk-icon-button uk-margin-right" uk-icon="icon: link; ratio: 1.2;"></a>
                    <a href="https://github.com/edwinsoftwaredev/SocialWebApp/" target="blank" class="uk-icon-button" uk-icon="icon: github; ratio: 1.2;"></a>
                </div>
            </div>
        </div>
    </div>
</div>