.uk-icon-button {
    color: inherit !important;
    
    &:not(:hover) {
        background-color: rgb(240, 240, 240);
    }
}

.tools {
    font-family: 'Fira Code';

    span {
        text-transform: none !important;
        background-color: rgb(240, 240, 240);
        color: inherit !important;
        // box-shadow: 0 0 1px 1px #2aadea;
    }
}

.ligthbox-button {
    color: #2aadea !important;
    transition: 250ms all;
    position: absolute;
    z-index: 1;
    pointer-events: none !important;

    &:hover {
        color: hsl(199, 72%, 44%) !important;
    }
}

.uk-card-header {
    background-color: rgb(58, 58, 58);
}

.uk-card-title {
    color: #fff;
    font-weight: 600;
}

.background-card-cover {
    opacity: 0.98;
    transition: 250ms all;
    cursor: pointer;
    position: relative;
    height: auto !important;
    width: 250% !important;
    top: 0%;
    left: -35%;

    &.no-left {
        width: 100% !important;
        left: 0% !important;
    }

    &:hover {
        opacity: 1;
    }
}

.uk-label {
    margin-top: 10px;
}