<div class="principal-container uk-width-1-1 uk-position-absolute uk-position-small">
    <div class="uk-margin-auto uk-width-3-4@l uk-width-5-6@s uk-margin">
        <h1 class="uk-heading-small uk-heading-bullet">Contact Me</h1>
        <div class="uk-margin-auto uk-card uk-card-default">
            <div class="uk-card-body uk-card-secondary">
                <p>
                    If you think I am a good fit for your projects or require further information,
                    feel free to contact me.
                </p>
            </div>
            <div class="uk-card-footer">
                <div class="uk-margin-auto uk-text-center">
                    <a href="mailto:edwin.softwaredev@gmail.com" target="blank" class="uk-icon-button uk-margin-right" uk-icon="icon: mail; ratio: 1.2;">
                        <div class="corner-dot uk-position-top-left"></div>
                        <div class="corner-dot uk-position-top-right"></div>
                        <div class="corner-dot uk-position-bottom-right"></div>
                        <div class="corner-dot uk-position-bottom-left"></div>
                    </a>
                    <a href="https://github.com/edwinsoftwaredev/" target="blank" class="uk-icon-button" uk-icon="icon: github; ratio: 1.2;">
                        <div class="corner-dot uk-position-top-left"></div>
                        <div class="corner-dot uk-position-top-right"></div>
                        <div class="corner-dot uk-position-bottom-right"></div>
                        <div class="corner-dot uk-position-bottom-left"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>