<div class="principal-container uk-width-1-1 uk-position-absolute uk-position-small">
    <div class="uk-margin-auto uk-width-3-4@l uk-width-5-6@s uk-margin">
        <h1 class="uk-heading-small uk-heading-bullet">Skills</h1>
        <h1 class="uk-subheader uk-width-1-1"><span class="uk-label">This is my current technology stack</span></h1>
        <div class="grid-container">
            <div class="uk-card uk-height-1-1 uk-padding-small">
                <div class="corner-borders uk-position-top-left"></div>
                <div class="corner-borders uk-position-top-right"></div>
                <div class="corner-borders uk-position-bottom-right"></div>
                <div class="corner-borders uk-position-bottom-left"></div>
                <div class="uk-card-body uk-padding-small">
                    <img data-src="/assets/Logos/1280px-React-icon.svg.png" uk-img>
                </div>
            </div>
            <div class="uk-card uk-height-1-1 uk-padding-small">
                <div class="corner-borders uk-position-top-left"></div>
                <div class="corner-borders uk-position-top-right"></div>
                <div class="corner-borders uk-position-bottom-right"></div>
                <div class="corner-borders uk-position-bottom-left"></div>
                <div class="uk-card-body uk-padding-small">
                    <img data-src="/assets/Logos/jest.png" uk-img>
                </div>
            </div>
            <div class="uk-card uk-height-1-1 uk-padding-small">
                <div class="corner-borders uk-position-top-left"></div>
                <div class="corner-borders uk-position-top-right"></div>
                <div class="corner-borders uk-position-bottom-right"></div>
                <div class="corner-borders uk-position-bottom-left"></div>
                <div class="uk-card-body uk-padding-small">
                    <img data-src="/assets/Logos/typescript.svg" uk-img>
                </div>
            </div>
            <div class="uk-card uk-height-1-1 uk-padding-small">
                <div class="corner-borders uk-position-top-left"></div>
                <div class="corner-borders uk-position-top-right"></div>
                <div class="corner-borders uk-position-bottom-right"></div>
                <div class="corner-borders uk-position-bottom-left"></div>
                <div class="uk-card-body uk-padding-small">
                    <img data-src="/assets/Logos/sass-1.svg" uk-img>
                </div>
            </div>
            <div class="uk-card uk-height-1-1 uk-padding-small">
                <div class="corner-borders uk-position-top-left"></div>
                <div class="corner-borders uk-position-top-right"></div>
                <div class="corner-borders uk-position-bottom-right"></div>
                <div class="corner-borders uk-position-bottom-left"></div>
                <div class="uk-card-body uk-padding-small">
                    <img data-src="/assets/Logos/html-5.svg" uk-img>
                </div>
            </div>
            <div class="uk-card uk-height-1-1 uk-padding-small">
                <div class="corner-borders uk-position-top-left"></div>
                <div class="corner-borders uk-position-top-right"></div>
                <div class="corner-borders uk-position-bottom-right"></div>
                <div class="corner-borders uk-position-bottom-left"></div>
                <div class="uk-card-body uk-padding-small">
                    <img data-src="/assets/Logos/css3.svg" uk-img>
                </div>
            </div>
            <div class="uk-card uk-height-1-1 uk-padding-small">
                <div class="corner-borders uk-position-top-left"></div>
                <div class="corner-borders uk-position-top-right"></div>
                <div class="corner-borders uk-position-bottom-right"></div>
                <div class="corner-borders uk-position-bottom-left"></div>
                <div class="uk-card-body uk-padding-small">
                    <img data-src="/assets/Logos/javascript.svg" uk-img>
                </div>
            </div>
            <div class="uk-card uk-height-1-1 uk-padding-small">
                <div class="corner-borders uk-position-top-left"></div>
                <div class="corner-borders uk-position-top-right"></div>
                <div class="corner-borders uk-position-bottom-right"></div>
                <div class="corner-borders uk-position-bottom-left"></div>
                <div class="uk-card-body uk-padding-small">
                    <img data-src="/assets/Logos/603201.png" uk-img>
                </div>
            </div>
            <div class="uk-card uk-height-1-1 uk-padding-small">
                <div class="corner-borders uk-position-top-left"></div>
                <div class="corner-borders uk-position-top-right"></div>
                <div class="corner-borders uk-position-bottom-right"></div>
                <div class="corner-borders uk-position-bottom-left"></div>
                <div class="uk-card-body uk-padding-small">
                    <img data-src="/assets/Logos/1024px-.NET_Core_Logo.svg.png" uk-img>
                </div>
            </div>
            <div class="uk-card uk-height-1-1 uk-padding-small">
                <div class="corner-borders uk-position-top-left"></div>
                <div class="corner-borders uk-position-top-right"></div>
                <div class="corner-borders uk-position-bottom-right"></div>
                <div class="corner-borders uk-position-bottom-left"></div>
                <div class="uk-card-body uk-padding-small">
                    <img data-src="/assets/Logos/1200px-C_Sharp_logo.svg.png" uk-img>
                </div>
            </div>
            <div class="uk-card uk-height-1-1 uk-padding-small">
                <div class="corner-borders uk-position-top-left"></div>
                <div class="corner-borders uk-position-top-right"></div>
                <div class="corner-borders uk-position-bottom-right"></div>
                <div class="corner-borders uk-position-bottom-left"></div>
                <div class="uk-card-body uk-padding-small">
                    <img data-src="/assets/Logos/rider_logo_300x300.png" uk-img>
                </div>
            </div>
            <div class="uk-card uk-height-1-1 uk-padding-small">
                <div class="corner-borders uk-position-top-left"></div>
                <div class="corner-borders uk-position-top-right"></div>
                <div class="corner-borders uk-position-bottom-right"></div>
                <div class="corner-borders uk-position-bottom-left"></div>
                <div class="uk-card-body uk-padding-small">
                    <img data-src="/assets/Logos/docker.svg" uk-img>
                </div>
            </div>
            <div class="uk-card uk-height-1-1 uk-padding-small">
                <div class="corner-borders uk-position-top-left"></div>
                <div class="corner-borders uk-position-top-right"></div>
                <div class="corner-borders uk-position-bottom-right"></div>
                <div class="corner-borders uk-position-bottom-left"></div>
                <div class="uk-card-body uk-padding-small">
                    <img data-src="/assets/Logos/Git-Logo-2Color.png" uk-img>
                </div>
            </div>
        </div>
    </div>
</div>