// @import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

.lines {
    @media screen and (max-width: 940px) {
        transform: scale(2.3) translateY(20vh);
    }
}

.lines.vertical-line .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 10%;
    background: hsla(199, 92%, 74%, 0.05);
    overflow: hidden;
    &::after {
        content: '';
        display: block;
        position: absolute;
        height: 15vh;
        width: 100%;
        top: -50%;
        left: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, hsla(199, 92%, 74%, 0.308) 95%, hsla(199, 92%, 74%, 0.527) 100%);
        animation: run 30s 0s infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }

    &:nth-child(1) {
        margin-left: 0%;
        &::after {
            animation-delay: 2s;
        }
    }

    &:nth-child(2) {
        margin-left: 10%;
        &::after {
            animation-delay: 12s;
        }
    }

    &:nth-child(3) {
        margin-left: 20%;
        &::after {
            animation-delay: 18s;
        }
    }

    &:nth-child(4) {
        margin-left: 30%;
        &::after {
            animation-delay: 20s;
        }
    }

    &:nth-child(5) {
        margin-left: 40%;
        &::after {
            animation-delay: 6s;
        }
    }

    &:nth-child(6) {
        margin-left: 50%;
        &::after {
            animation-delay: 11s;
        }
    }

    &:nth-child(7) {
        margin-left: 60%;
        &::after {
            animation-delay: 25s;
        }
    }

    &:nth-child(8) {
        margin-left: 70%;
        &::after {
            animation-delay: 22s;
        }
    }

    &:nth-child(9) {
        margin-left: 80%;
        &::after {
            animation-delay: 19s;
        }
    }
}

.lines {
    position: fixed;
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    margin: auto;
    width: 100vw;
}

.lines.horizontal-line .line {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 10%;
    background: hsla(199, 92%, 74%, 0.05);
    overflow: hidden;
    &::after {
        content: '';
        display: block;
        position: absolute;
        height: 15vh;
        width: 15vh;
        left: -50%;
        top: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, hsla(199, 92%, 74%, 0.308) 95%, hsla(199, 92%, 74%, 0.527) 100%);
        animation: run-horizontal 50s 0s infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;


        @media screen and (max-width: 940px) {
            animation-duration: 15s;
        }
    }

    &:nth-child(1) {
        margin-top: 0%;
        &::after {
            animation-delay: 2s;
        }
    }

    &:nth-child(2) {
        margin-top: 10%;
        &::after {
            animation-delay: 12s;
        }
    }

    &:nth-child(3) {
        margin-top: 20%;
        &::after {
            animation-delay: 18s;
        }
    }

    &:nth-child(4) {
        margin-top: 30%;
        &::after {
            animation-delay: 20s;
        }
    }

    &:nth-child(5) {
        margin-top: 40%;
        &::after {
            animation-delay: 6s;
        }
    }

    &:nth-child(6) {
        margin-top: 50%;
        &::after {
            animation-delay: 11s;
        }
    }

    &:nth-child(7) {
        margin-top: 60%;
        &::after {
            animation-delay: 25s;
        }
    }

    &:nth-child(8) {
        margin-top: 70%;
        &::after {
            animation-delay: 22s;
        }
    }

    &:nth-child(9) {
        margin-top: 80%;
        &::after {
            animation-delay: 19s;
        }
    }
}

@keyframes run {
    from {
        top: -20%
    }

    to {
        top: 110%
    }
}

@keyframes run-horizontal {
    from {
        left: -20%;
    }

    to {
        left: 110%;
    }
}

.principal-container {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    overflow: hidden;

    @media screen and (max-width: 940px) {
        margin-bottom: 10vh;
        display: block !important;
        height: auto;
        position: relative;
        background-color: #1b1b1b;

        &.principal-container-home {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin-bottom: 0;
        }
    }
}

@keyframes background-animated {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

.left-container .first-left-container {
    width: 100%;
    position: absolute;
    margin: auto !important;
    display: flex;
    top: 0;
    bottom: 0;
}

.title {

    color: hsl(200, 87%, 94%) !important;
    font-size: 28pt !important;
    font-family: 'Oxanium';
    text-transform: uppercase;
    letter-spacing: 3pt;
    font-weight: 900;

    ~ p {
        margin-left: 3px;
        margin-top: 15px !important;
        font-size: 18pt;
        color: #b6ffff !important;
        font-family: 'Oxanium';
        text-transform: uppercase;
        font-weight: lighter !important;
        letter-spacing: 2pt;
    }
}

.menu {
    z-index: 1;
    margin: auto 0 auto 17px;
    min-width: fit-content;
    max-width: 15vw;
    opacity: 0;
    transform: translateX(0vw);
    transition: ease-out 250ms;
    animation-delay: 250ms;
    animation-fill-mode: forwards;
    float: left;
    background-color: rgba(0, 0, 0, 0.6);

    @media screen and (max-width: 940px) {
        background-color: rgba(0, 0, 0);
        position: fixed;
        animation: none !important;
        bottom: 0 !important;
        min-width: 100%;
        transition: none !important;
        transform: none;
        margin: auto;
        opacity: 1 !important;
        height: 10vh !important;
        display: flex;

        ul {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-auto-flow: row;
            column-gap: 1vw;
            list-style-type: none;
            padding: 0 !important;
            width: 100vw;
        }

        li {
            display: flex;
            margin-top: 0 !important;
        }

        button {
            display: none;
        }

        a {
            margin: auto;

            &.link-selected span {
                color: hsl(199, 82%, 54%) !important;
            }
        }

        span {
            margin: auto !important;
            line-height: normal !important;
        }
    }
}

.menu ul {
    margin: 0 !important;
}

.menu ul li span {
    vertical-align: baseline;
    line-height: 30pt;
    margin-right: 15px;
    color: #b6ffff;
}

.menu ul li button {
    font-family: 'Oxanium';
    font-size: 14pt;
    text-transform: uppercase;
    letter-spacing: 2pt;
}

.menu ul li button:hover {
    font-weight: 999;
}

.menu button {
    color: hsl(200, 87%, 94%);
}

.square-hamburger {
   color: hsl(200, 87%, 94%) !important;
}

.menu button:focus {
    font-weight: 999 !important;
}

.menu button::before {
    border-bottom: 3px solid #81d4fa !important;    
}

.menu button:hover::before {
    border-bottom: 3px solid #81d4fa !important;
}

.left-container {
    transform: translateX(-40vw);
    width: 60vw;
    transform-origin: top right !important;
    transition: ease-in 180ms;
    transition-delay: 400ms;
    overflow: hidden;
    display: flex;
    position: absolute;

    @media screen and (max-width: 940px) {
        width: 100vw;
        display: inline-block;
        transition: none !important;
        transform: translateX(0vw) !important; 
        animation: none !important;
        position: fixed !important;
        height: 90vh;
        bottom: 10vh !important;
        // position: fixed !important;
    }

    @media screen and (min-width: 1024px) {
        width: 70vw;
    }

    @media screen and (min-width: 1200px) {
        width: 60vw;
    }
}

.menu-desc-container {
    display: flex; 
    width: 100%;
    height: 100%;

    @media screen and (max-width: 940px) {
        width: 100vw;
        position: absolute;
        height: 90vh;
        top: 0;
    }
}

.left-container.menu-shown:not(.menu) {
    transform: translateX(0vw);
    transition: ease 300ms;
    transition-delay: 150ms;
}

.left-container.animation-stop.menu-shown ~ .menu-desc-container .menu {
    opacity: 1;
    transition: ease-in 180ms;
    transition-delay: 300ms;
}

.route-selected-button {
    font-weight: 999 !important;
}

// border bottom when route selected
.route-selected-button::before {
    border-bottom: 3px solid #81d4fa !important;
    right: 0 !important;
}

// when route is in "home" set this classes and replace by importance some attributes of base classes
////////////////////////////////////////////////////////////////////////////////////
.animation-stop {
    animation: none !important;

    // as the parent class is added after some time we need to set this after the initial animation 
    &.menu-home {
        opacity: 1 !important;
        pointer-events: all !important;
    }

    .option-description-home {
        transform: translateY(0%);
        opacity: 1;
        pointer-events: all;
    }

    .square-home {
        opacity: 0.85;
    }

    // check nesting scss
    //https://css-tricks.com/the-sass-ampersand/

    &.principal-container.principal-container-home {
        transition: 350ms ease-in;
        background-color: #dadada;
    }
}

.left-container-home {
    transform: translateX(0vw) !important;
    transition: none !important;
    pointer-events: none !important;
    animation: init-ani-left-container 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;

    @media screen and (max-width: 940px) {
        animation: none !important;
    }
}

@keyframes init-ani-left-container {
    0% {
        transform: translateX(-40vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

.menu-home {
    animation: init-menu-home 180ms ease-in forwards;
    animation-delay: 500ms !important;
    pointer-events: none !important;
}

@keyframes init-menu-home {
    from {
        opacity: 0;
        transform: translateX(-5vw);
    }

    to {
        opacity: 1;
        transform: translateX(0vw);
        position: relative;
    }
}

.option-description-home {
    animation: init-desc 300ms ease-in forwards;
    animation-delay: 500ms !important;
    transition: none !important;
    pointer-events: none !important;

    @media screen and (max-width: 940px) {
        animation: init-des-responsive 300ms ease-in both !important;
        animation-delay: 300ms !important;
    }
}

@keyframes init-des-responsive {
    from {
        opacity: 0;
        transform: translateY(3%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes init-desc {
    from {
        opacity: 0;
        transform: translateY(3%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.square-home {
    transition-duration: 400ms !important;
}

.square-wait-container-home {
    opacity: 0 !important;
    transition: none !important;
}

.option-description {
    position: relative;
    opacity: 0;
    transform: translateY(3%);
    margin: auto 0 auto 20vw !important;
    max-width: 30vw;
    float: left;
    pointer-events: all;
    transition: ease-out 150ms;
    transition-delay: 100ms;

    @media screen and (max-width: 940px) {
        max-width: 100vw;
        display: flex;
        height: 100%;
        margin: auto 5vw !important;

        & > div {
            margin: auto;
        }

        &:not(.option-description-home) {
            display: none;
        }
    }

    @media screen and (min-width: 1024px) {
        max-width: 70vw;
        padding: 20px;
        margin: auto 0 auto 25vw !important;
    }

    @media screen and (min-width: 1200px) {
        max-width: 30vw;
        margin: auto 0 auto 20vw !important;
    }
}

.left-container.animation-stop.menu-shown .option-description {
    transform: translateY(0%);
    opacity: 1;
    transition: ease-in 300ms;
    transition-delay: 500ms;
}

.option-description p { 
    margin: 0 !important;
    color: lightgray;
}

// no definitive
.option-description h1 {
    color: white;
    font-weight: 700;
    text-align: left;
}

.square-container {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: flex;

    @media screen and (max-width: 940px) {
        transform: scale(2) translateX(-1vw);
        position: absolute;
        margin: auto;

        & div:not(.square-home) {
            display: none;
        }
    }
}

.square {
    transform: translateX(1vw) rotate(45deg);
    margin: auto !important;
    box-shadow:
    inset 0 0 2px 6vw hsl(199, 42%, 14%),
    0 0 2px 1vw hsl(199, 52%, 24%),
    0 0 2px 2vw hsl(199, 62%, 34%),
    0 0 2px 3vw hsl(199, 72%, 44%),
    0 0 2px 5vw #2aadea;
    height: 25vw !important; // See this. Both properties use the same measure regardless of whether one is tall and the other wide.
    width: 25vw !important;
    z-index: -1;
    opacity: 0;
    transition: ease-in 300ms;
    transition-delay: 250ms;
    animation: leveling 3s linear, rotate-square 350s linear;
    animation-iteration-count: infinite;
}

@keyframes rotate-square {
    from {
        transform: translateX(1vw) rotate(45deg);
    }

    to {
        transform: translateX(1vw) rotate(405deg);
    }
}

@keyframes leveling {
    0% {
        box-shadow:
        inset 0 0 2px 6vw hsl(199, 42%, 14%),
        0 0 2px 1vw hsl(199, 52%, 24%),
        0 0 2px 2vw hsl(199, 62%, 34%),
        0 0 2px 3vw hsl(199, 72%, 44%),
        0 0 2px 5vw hsl(199, 82%, 55%);
    }

    13% {
        box-shadow:
        inset 0 0 2px 6vw hsl(199, 42%, 14%),
        0 0 2px 1vw hsl(199, 52%, 25%),
        0 0 2px 2vw hsl(199, 62%, 34%),
        0 0 2px 3vw hsl(199, 72%, 44%),
        0 0 2px 5vw hsl(199, 82%, 54%);
    }

    25% {
        box-shadow:
        inset 0 0 2px 6vw hsl(199, 42%, 14%),
        0 0 2px 1vw hsl(199, 52%, 26%),
        0 0 2px 2vw hsl(199, 62%, 34%),
        0 0 2px 3vw hsl(199, 72%, 44%),
        0 0 2px 5vw hsl(199, 82%, 54%);
    }

    38% {
        box-shadow:
        inset 0 0 2px 6vw hsl(199, 42%, 14%),
        0 0 2px 1vw hsl(199, 52%, 25%),
        0 0 2px 2vw hsl(199, 62%, 35%),
        0 0 2px 3vw hsl(199, 72%, 44%),
        0 0 2px 5vw hsl(199, 82%, 54%);
    }

    50% {
        box-shadow:
        inset 0 0 2px 6vw hsl(199, 42%, 14%),
        0 0 2px 1vw hsl(199, 52%, 24%),
        0 0 2px 2vw hsl(199, 62%, 36%),
        0 0 2px 3vw hsl(199, 72%, 44%),
        0 0 2px 5vw hsl(199, 82%, 54%);
    }

    63% {
        box-shadow:
        inset 0 0 2px 6vw hsl(199, 42%, 14%),
        0 0 2px 1vw hsl(199, 52%, 24%),
        0 0 2px 2vw hsl(199, 62%, 35%),
        0 0 2px 3vw hsl(199, 72%, 45%),
        0 0 2px 5vw hsl(199, 82%, 54%);
    }

    75% {
        box-shadow:
        inset 0 0 2px 6vw hsl(199, 42%, 14%),
        0 0 2px 1vw hsl(199, 52%, 24%),
        0 0 2px 2vw hsl(199, 62%, 34%),
        0 0 2px 3vw hsl(199, 72%, 46%),
        0 0 2px 5vw hsl(199, 82%, 54%);
    }

    88% {
        box-shadow:
        inset 0 0 2px 6vw hsl(199, 42%, 14%),
        0 0 2px 1vw hsl(199, 52%, 24%),
        0 0 2px 2vw hsl(199, 62%, 34%),
        0 0 2px 3vw hsl(199, 72%, 45%),
        0 0 2px 5vw hsl(199, 82%, 55%);
    }

    100% {
        box-shadow:
        inset 0 0 2px 6vw hsl(199, 42%, 14%),
        0 0 2px 1vw hsl(199, 52%, 24%),
        0 0 2px 2vw hsl(199, 62%, 34%),
        0 0 2px 3vw hsl(199, 72%, 44%),
        0 0 2px 5vw hsl(199, 82%, 56%);
    }
}

.left-container.animation-stop.menu-shown .square {
    opacity: 0.85;
    transition: ease-in 300ms;
    transition-delay: 350ms;
}

.square-wait-container {
    opacity: 0;
    position: absolute;
    display: flex;
    width: 20vw !important;
    height: 20vh;
    top: 40vh;
    left: 4vw;
    // pointer-events: none;
    transition: ease-out 200ms;

    @media screen and (max-width: 940px) {
        display: none;
    }
}

.left-container:not(.menu-shown) ~ .square-wait-container {
    opacity: 1;
    transition: ease-in 250ms;
    transition-delay: 850ms;
}

.left-container:not(.menu-shown) ~ .square-wait-container .square-wait {
    transform: scale(1) rotate(405deg);
    transition: ease-in 300ms;
    animation-name: square-blink;
    animation-duration: 1.5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-delay: 850ms;
}

.left-container:not(.menu-shown) ~ .square-wait-container .square-wait-first {
    transform: scale(1) rotate(225deg);
    transition: ease-in 600ms;
    animation-name: square-blink;
    animation-duration: 1.5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-delay: 1250ms;
}

.square-wait {
    opacity: 1;
    margin: auto;
    display: flex;
    transform: scale(0.5) rotate(45deg);
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    border: 3px solid hsl(199, 92%, 74%);
    z-index: 2;
    cursor: pointer;
    // pointer-events: none;
    transition: ease-in 300ms;
}

.square-wait-first {
    opacity: 1;
    transform: scale(0.5) rotate(45deg);
    max-width: 90px;
    max-height: 90px;
    width: 90px;
    height: 90px;
    margin: auto;
    border: 3px solid hsl(199, 92%, 74%);
    box-shadow: inset 0 0 10px 10px rgba(150, 215, 245, 0.45);
    z-index: 1;
    // pointer-events: none;
    transition: ease-in 300ms;
}

@keyframes square-blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.square-wait-container span {
    color: white;
    margin: auto;
    opacity: 1 !important;
}

// Right container
.right-container {
    position: fixed;
    height: 100%;
    width: 80vw;

    @media screen and (max-width: 940px) {
        width: 100%;
        transform: none !important;
        position: relative;
        height: auto !important;

        &.right-container-home {
            display: none;
        }
    }
    // transform-origin: top left !important;
}

.right-container div {
    height: 100% !important;

    @media screen and (min-width: 941px) {
        transition: none !important;
    }
}

.right-container-home {
    transform: translateX(60vw) !important;
    transition: none;

    @media screen and (max-width: 940px) {
        transform: none !important;
        pointer-events: none;
    }
}

.right-container:not(.right-container-home).right-animation-off {
    transform: translateX(20vw);

    @media screen and (max-width: 940px) {
        transform: none !important;
    }    
}

.right-container-in {
    animation: right-container-in-ani 180ms ease-in both;
    animation-delay: 400ms;

    @media screen and (max-width: 940px) {
        animation: none !important;
    }
}

@keyframes right-container-in-ani {
    from {
        transform: translateX(60vw);
    }

    to {
        transform: translateX(20vw);
    }
} 

.right-container-out {
    animation: right-container-out-ani 300ms ease both;
    animation-delay: 150ms;

    @media screen and (max-width: 940px) {
        animation: none !important;
    }
}

.right-animation-off {
    animation: none !important;
}

@keyframes right-container-out-ani {
    from {
        transform: translateX(20vw);
    }

    to {
        transform: translateX(60vw);
    }
}

.left-container:not(.menu-shown):not(.animation-stop) ~ .right-container {
    transform: translateX(20vw);
    transition: none !important;
}

.app-home-component {
    transform-origin: top left;
    width: 100%;
    position: absolute;
    opacity: 0;
    height: 100%;
    transition: 300ms ease-in;
    z-index: 1;
    pointer-events: none;
}

// good chunk of scss code
.left-container {
    &.left-container-home.menu-shown:not(.animation-stop) ~ .right-container .app-home-component {
        animation: opacity-home-component 400ms ease-in forwards;
        animation-delay: 450ms;
        z-index: 2 !important;
    }

    @keyframes opacity-home-component {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    &.left-container-home.menu-shown.animation-stop ~ .right-container .app-home-component {
        transition: none !important;
        // background-color: #222222cc !important;
        opacity: 1 !important;
        z-index: 2 !important;

        ~ .background {
            filter: blur(10px) !important;
            transition: 1000ms ease-in !important;
        }
    }

    &.animation-stop:not(.left-container-home):not(.menu-shown) ~ .right-container .app-home-component {
        transition-duration: 200ms !important;
        transition-delay: 100ms;
        opacity: 0;

        ~ .background {
            @media screen and (min-width: 941px) {
                filter: blur(0px) !important;
                transition: 500ms ease-in !important;   
            }
        }
    }

    &:not(.left-container-home).animation-stop.menu-shown ~ .right-container .app-home-component {
        transition-delay: 550ms !important;
        opacity: 1 !important;
        z-index: 2 !important;

        ~ .background {
            filter: blur(10px) !important;
            transition: 1000ms ease-in !important;
        }
    }
}

.background {
    height: auto !important;
    overflow-y: auto;
    filter: blur(0px);
    transition: 200ms ease-out !important;

    @media screen and (max-width: 940px) {
        width: 100%;
        overflow-y: hidden;
    }
}

.background.background-blured {
    filter: blur(10px) !important;
    transition: 200ms ease-in !important;
}

.left-container.menu-shown ~ .square-wait-container {
    pointer-events: none !important;
}