<div class="uk-width-1-1 principal-container" [ngClass]="{'animation-stop':!isStarting, 'principal-container-home': isHome}">
  <div id="left-container" [ngClass]="{'animation-stop':!isStarting, 'left-container-home': isHome}" class="uk-width-1-2 uk-height-1-1 left-container">
    <div class="first-left-container">
      <div [ngClass]="{'animation-stop':!isStarting, 'menu-home':isHome}" class="uk-animation-toggle menu">
        <ul class="uk-list uk-padding">
          <li><span uk-icon="icon: home; ratio: 1.3"></span><button routerLinkActive="route-selected-button" [routerLinkActiveOptions]="{exact: true}" routerLink="/" class="uk-button uk-button-text">Home</button></li>
          <li><span uk-icon="icon: info; ratio: 1.3"></span><button routerLinkActive="route-selected-button" [routerLinkActiveOptions]="{exact: true}" routerLink="/about" class="uk-button uk-button-text">About</button></li>
          <li><span uk-icon="icon: album; ratio: 1.3"></span><button routerLinkActive="route-selected-button" [routerLinkActiveOptions]="{exact: true}" routerLink="/projects" class="uk-button uk-button-text">Projects</button></li>
          <li><span uk-icon="icon: cog; ratio: 1.3"></span><button routerLinkActive="route-selected-button" [routerLinkActiveOptions]="{exact: true}" routerLink="/skills" class="uk-button uk-button-text">Skills</button></li>
          <li><span uk-icon="icon: mail; ratio: 1.3"></span><button routerLinkActive="route-selected-button" [routerLinkActiveOptions]="{exact: true}" routerLink="/contact" class="uk-button uk-button-text">Contact</button></li>
        </ul>
      </div>
      <div [ngClass]="{'animation-stop': !isStarting, 'option-description-home' : isHome}" class="option-description">
        <div>
          <h1 class="title">Hi, my name is <br> Edwin Martínez.</h1>
          <p style="word-wrap: break-word;">I'm a software engineer focused on Front-end, Back-end, Full stack and Mobile app development.</p>
        </div>
      </div>
    </div>
    <div class="square-container">
      <div [ngClass]="{'square-home' : isHome}" class="square">

      </div>
    </div>
  </div>
  <div [ngClass]="{'square-wait-container-home' : isHome}" class="square-wait-container">
    <div class="square-wait">
    </div>
  </div>
  <div [ngClass]="{'square-wait-container-home' : isHome}" class="square-wait-container">
    <div class="square-wait-first">
    </div>
  </div>
  <div [ngClass]="{'square-wait-container-home' : isHome}" class="square-wait-container">
    <span uk-icon="icon: menu; ratio: 1.8"></span>
  </div>

  <!-- route here other components  -->
  <div [ngClass]="{'right-container-home' : isHome}" class="right-container">
    <div [ngClass]="{'animation-stop':!isStarting}">
      <app-home class="app-home-component uk-overlay-primary"></app-home>
      <div class="background">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>