/* You can add global styles to this file, and also import other style files */
@import "uikit/dist/css/uikit.min.css";

body {
    background-color: #1b1b1b;
    position: absolute;
    overflow: visible;
    height: 100vh;
    width: 100vw;

    @media screen and (min-width: 941px) {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;  
    }
}

app-about, app-projects, app-skills {
    @media screen and (max-width: 940px) {
        height: auto;
        display: block;
    }
}

.uk-card-secondary {
    background-color: #1b1b1bb7;
}

.uk-card-default {
    background-color: transparent;
}

::-webkit-scrollbar {
    background-color: hsla(195, 13%, 52%, 0.199) !important;
    width: 5px !important;
    display: none !important;

    @media screen and (max-width: 640px) {
        background-color: transparent;
    }
}

::-webkit-scrollbar-thumb {
    background-color: hsla(199, 92%, 74%, 0.4) !important;
}