<div class="principal-container">
    <div class="code-container">
        <!--remember the attribution for the image-->
        <img routerLinkActive="is-home" [routerLinkActiveOptions]="{exact: true}" routerLink="/" class="uk-box-shadow-large picture" data-src="/assets/Untitled (4).png" uk-img>
        <div class="corner-borders uk-position-top-left"></div>
        <div class="corner-borders uk-position-top-right"></div>
        <div class="corner-borders uk-position-bottom-right"></div>
        <div class="corner-borders uk-position-bottom-left"></div>
    </div>
</div>

<!--attributes-->
<!--Icons made by <a href="https://www.flaticon.com/authors/mynamepong" title="mynamepong">mynamepong</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>-->
<!--<a href="https://www.vecteezy.com/"> Vectors by Vecteezy</a>-->