.principal-container {
    display: flex;
    height: 100%;
    width: 40vw;
    transform: skewX(8deg);
}

.content-container {
    margin: auto !important;
}

.content-container p {
    font-size: larger;
    text-align: justify;
    width: 90%;
    margin: auto;
    color: rgb(255, 255, 255);
}

.profile-pic-container {
    display: flex;
    margin: 25px;
}

.profile-pic-container img {
    width: 16vw; // check this with the transition. the width is updted so the transition is executed
    transition: 500ms ease-in;
    margin: auto;
    border: 4px solid rgb(101, 188, 234);
    box-shadow: 0 0 20px 5px rgb(101, 188, 234);
}
