.principal-container {
    display: flex;
    height: 100%;
    width: 40vw;
    transform: skew(8deg);
}

.principal-container div {
    margin: auto !important;
}

.profile-pic-container img {
    width: 16vw; // check this with the transition. the width is updted so the transition is executed
    transition: 500ms ease-in;
}
